<!--defining the area of the cells in the game-->
<launch>
  <include file="$(find baxter_tictactoe)/launch/usb_cam_node.launch" />

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find baxter_tictactoe)/custom_rosconsole.conf"/>

  <node name="cells_delimitation" pkg="baxter_tictactoe" type="cells_delimitation" respawn="false" output="screen">
    <remap from="/in" to="/usb_cam/image_raw"/>
  </node>
 
</launch>

