<launch>
    <!-- If traj is set to true, arm movements will be controlled via a joint trajectory action server (not recommended).-->
    <arg name="traj" default="false" />

    <node name="tictactoe_brain" pkg="baxter_tictactoe" type="tictactoe_brain" args="--traj $(arg traj)" launch-prefix="valgrind" respawn="false" output="screen" required="true"/> 
</launch>


<!-- 
    Message:
        *** Error in `/home/baxter/ros_devel_ws/devel/lib/baxter_tictactoe/tictactoe_brain': double free or corruption (out): 0x00007fae448cb680 ***
    Location:
        PickUpTokenClass::isolateBoard() (????)
    Count:
        4

    Message:
        Segmentation fault (core dumped)
    Location:
        PickUpTokenClass::isolateBlack()
    Count:
        2
-->