<!-- Launching all required nodes for playing Tic Tac Toe with Baxter -->
<launch>

    <include file="$(find baxter_tictactoe)/launch/ttt_board_sensor.launch" />

    <!-- Range thresholds for the red tokens -->
    <rosparam param = "ttt_controller/hsv_red">
        H: [160,  20]
        S: [ 40, 196]
        V: [ 50, 196]
    </rosparam>

    <!-- Range thresholds for the blue tokens -->
    <rosparam param = "ttt_controller/hsv_blue">
        H: [ 60, 130]
        S: [ 90, 256]
        V: [ 10, 256]
    </rosparam>

    <rosparam param = "ttt_controller/tile_pile_position">[0.2, 0.3, 0.1]</rosparam>

    <!-- Range thresholds for the blue tokens -->
    <rosparam param = "ttt_controller/board_coordinates">
        TL: [ 1.0, 0.2, 0.0]
        TR: [ 1.0, 0.3, 0.0]
        BR: [ 1.0, 0.4, 0.0]
        BL: [ 1.0, 0.1, 0.0]
    </rosparam>

    <!-- Red is not working as of now -->
    <!-- <rosparam param="ttt_brain/robot_color">blue</rosparam> -->
    <rosparam param="ttt_brain/num_games">3</rosparam>
    <rosparam param="ttt_brain/cheating_games">[2, 3]</rosparam>

    <!--<param name="voice" type="str" value="voice_cmu_us_jmk_arctic_clunits" /> --> <!-- A human-like voice -->
    <!-- A robotic voice -->
    <param name="ttt_brain/voice" type="str" value="voice_kal_diphone" />

    <!-- <include file="$(find sound_play)/soundplay_node.launch" /> We don't use the existing launch file because we want this node to be a must, i.e.required="true"-->
    <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" required="true"/>

    <node name="tictactoe_brain" pkg="baxter_tictactoe" type="tictactoe_brain" respawn="false" output="screen" required="true"/>
</launch>
